<h3>Welcome to the Student Edit Page!</h3>

<h1><%= @student['first_name'] %> <%= @student['last_name'] %></h1>

<h3>General Info</h3>
<hr>

<%= form_tag "/students", method: :patch do %>
<p><strong>email: </strong><input type="text" name="student['email']" value="<%= @student['email'] %>"></p>
<p><strong>phone_number: </strong><input type="text" name="student['phone_number']" value="<%= @student['phone_number'] %>"></p>
<p><strong>short_bio: </strong><input type="text" name="student['short_bio']" value="<%= @student['short_bio'] %>"></p>
<p><strong>linkedin_url: </strong><input type="text" name="student['linkedin_url']" value="<%= @student['linkedin_url'] %>"></p>
<p><strong>twitter_handle: </strong><input type="text" name="student['twitter_handle']" value="<%= @student['twitter_handle'] %>"></p>
<p><strong>personal_web_url: </strong><input type="text" name="student['personal_web_url']" value="<%= @student['personal_web_url'] %>"></p>
<p><strong>online_resume_url: </strong><input type="text" name="student['online_resume_url']" value="<%= @student['online_resume_url'] %>"></p>
<p><strong>github_url: </strong><input type="text" name="student['github_url']" value="<%= @student['github_url'] %>"></p>
<p><strong>photo: </strong><input type="text" name="student['photo']" value="<%= @student['photo'] %>"></p>
<input type="submit" value="Update">
<% end %>
